
   <fieldset>
        <legend>Bienvenue equipe</legend>



<% if session[:user_id] %>
    <ul>
      <li><%= link_to 'Users',	users_path	%></li>
    </ul>
    <ul>
      <li><%= link_to 'Clients', clients_path	%></li>
    </ul>
    <%= button_to 'Logout', logout_path, method: :delete	%>
<% end %>

        </fieldset>
