
  <% if flash[:alert] %>
    <p id="notice"><%= flash.now[:alert] %></p>
  <% end %>




<%= form_tag '', :method => :get, :id => "revenus_depenses"  do %>
    <fieldset>
        <legend>Revenus / Dépenses</legend>
        <div id="finance_left">
        <div class="clearfix">
          <label for="loyers_residentiels">Loyers Résidentiels:</label>
          <div class="input">
          <input class="xlarge span2" id="loyers_residentiels" name="loyers_residentiels" size="30" type="text" value="0">
          </div>
        </div>
        <div class="clearfix">
          <label for="loyers_commerciaux" >Loyers Commerciaux:</label>
          <div class="input">
          <input class="xlarge span2" id="loyers_commerciaux" name="loyers_commerciaux" size="30" type="text" value="0">
          </div>
        </div>
        <div class="clearfix">
          <label for="buanderie">Buanderie:</label>
          <div class="input">
          <input class="xlarge span2" id="buanderie" name="buanderie" size="30" type="text" value="0">
          </div>
        </div>
        <div class="clearfix">
          <label for="tationnements">Stationnements:</label>
          <div class="input">
          <input class="xlarge span2" id="stationnements" name="stationnements" size="30" type="text" value="0">
          </div>
        </div>
        <div class="clearfix">
          <label for="revenu_potentiel_brut">Revenu Potentiel Brut:</label>
          <div class="input">
          <input class="xlarge span2 disabled" id="revenu_potentiel_brut" name="revenu_potentiel_brut" size="30" type="text"  disabled/>
          </div>



        </div>





        </div>

        <div id="finance_right">
        <div class="clearfix">
          <label for="administration">Administration:</label>
          <div class="input">
          <input class="xlarge span2" id="administration" name="administration" size="30" type="text" value="0">
          </div>
        </div>
          <div class="clearfix">
          <label for="p_mauvaises_creances">Pertes et mauvaises créances:</label>
          <div class="input">
          <input class="xlarge span2" id="p_mauvaises_creances" name="p_mauvaises_creances" size="30" type="text" value="0">


          <a href="#" class="btn danger" rel="popover" title="ce nombre" data-content="ce nombre est le calcul du revenu net">?</a>
          <script>
            $(function () {
              $("a[rel=popover]")
                .popover({
                  offset: 10
                })
                .click(function(e) {
                  e.preventDefault()
                })
            })
          </script>
            </div>
        </div>
        <div class="clearfix">
          <label for="taxes_municipales">Taxes municipales:</label>
          <div class="input">
          <input class="xlarge span2" id="taxes_municipales" name="taxes_municipales" size="30" type="text" value="0">
          </div>
        </div>
        <div class="clearfix">
          <label for="taxes_scolaires">Taxes scolaires:</label>
          <div class="input">
          <input class="xlarge span2" id="taxes_scolaires" name="taxes_scolaires" size="30" type="text" value="0">
          </div>
        </div>
        <div class="clearfix">
          <label for="depenses_potentielles_brutes">Dépenses Potentielles Brutes:</label>
          <div class="input">
          <input class="xlarge span2 disabled" id="depenses_potentielles_brutes" name="depenses_potentielles_brutes" size="30" type="text"  disabled/>
        </div>

        <script>

             $("#revenus_depenses").change(function () {



             $("#revenus_depenses").validate( {

             rules: {

                   loyers_residentiels: {
                       required: true,
                       digits: true

                   },
                   buanderie: {
                       required: true,
                       digits: true

                   },
                   stationnements: {
                       required: true,
                       digits: true

                   },

                   loyers_commerciaux: {
                     required: true,
                     digits: true
                   },

                   administration: {
                       required: true,
                       digits: true

                   },
                   p_mauvaises_creances: {
                       required: true,
                       digits: true

                   },
                   taxes_municipales: {
                       required: true,
                       digits: true

                   },

                   taxes_scolaires: {
                     required: true,
                     digits: true
                   }
               },
             messages: {
                   loyers_residentiels: {
                       required: "SVP entrez un nombre" ,
                       digits: "Seulement les nombres sont acceptés"
                    },
                    loyers_commerciaux: {
                        required: "SVP entrez un nombre" ,
                        digits: "Seulement les nombres sont acceptés"
                    },
                     buanderie: {
                       required: "SVP entrez un nombre" ,
                       digits: "Seulement les nombres sont acceptés"
                    },
                    stationnements: {
                        required: "SVP entrez un nombre" ,
                        digits: "Seulement les nombres sont acceptés"
                    },
                   administration: {
                       required: "SVP entrez un nombre" ,
                       digits: "Seulement les nombres sont acceptés"
                    },
                    p_mauvaises_creances: {
                        required: "SVP entrez un nombre" ,
                        digits: "Seulement les nombres sont acceptés"
                    },
                     taxes_municipales: {
                       required: "SVP entrez un nombre" ,
                       digits: "Seulement les nombres sont acceptés"
                    },
                    taxes_scolaires: {
                        required: "SVP entrez un nombre" ,
                        digits: "Seulement les nombres sont acceptés"
                    }

             }

             });

               if  ($("#revenus_depenses").valid()){
                       var lc = parseInt($("#loyers_commerciaux").val());
                       var lr = parseInt($("#loyers_residentiels").val());
                       var bu = parseInt($("#buanderie").val());
                       var sta = parseInt($("#stationnements").val());

                      var ph = lc+lr+bu+sta;
                   $("#revenu_potentiel_brut").val( ph);

               } else{
                      var ph = "0"
                   $("#revenu_potentiel_brut").val( ph);

               }


               if  ($("#revenus_depenses").valid()){
                       var ad = parseInt($("#administration").val());
                       var lr = parseInt($("#p_mauvaises_creances").val());
                       var bu = parseInt($("#taxes_municipales").val());
                       var sta = parseInt($("#taxes_scolaires").val());

                      var dpb = ad+lr+bu+sta;
                   $("#depenses_potentielles_brutes").val( dpb);

               } else{
                      var dpb = "0"
                   $("#depenses_potentielles_brutes").val( dpb);

               }

                     });


                    </script>


    </div>


    </fieldset>
<% end %>




<%= render :partial => "clients/form", :object => @client %>