<!DOCTYPE html>
<html>
<head>
  <title>Equipeimmobiliere</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div id="main" class="equipeimmobiliere">
  <div id="site_message">L'Équipe Immobilière</div>
<%= yield %>
</div>

</body>
</html>
